body { /**Properties of the webpage's body**/
    width:auto;
    margin: auto;
    background-color: #dc2f02;
}

/*Page Title/Header*/
#header { /**Properties of the header, particularly for the background**/
    padding: 30px;
    height:40vh;
    background-image: linear-gradient(rgba(106, 4, 15, 0.5), rgba(3, 7, 30, 0.5)),url(../images/trees.jpg);
    background-size: 200vh;
    background-size:73vh;
    background-repeat: repeat-x;     
    background-attachment: fixed;  
    width:100%;
}

#header a img{ /**Properties of the header, particularly the Earth logo on the left**/
    box-sizing: border-box; 
    white-space: nowrap; 
    position: relative;
    float:left;
    height: 200px;
    width:auto;
    bottom: 30px;
}

#header h1{ /**Properties of the header, particularly for the title "Climate Change: Causes" **/
    color:#ffba08 ;
    font-family: cursive;
    font-size: 85px;
    position: relative;
    left: 10px;
    bottom: 20px;
    white-space: nowrap;
    width:auto;
}

/*Horizontal Navigation Bar for switching to different webpages*/
#navigation1 { /**Properties of the horizontal navigation bar, particularly for the entire box**/
    float:left;
    height: 9h;
    width:198vh;
    white-space: nowrap;
    position: relative;
    left: 100px;
    top: -65px;
    width:auto;
}

#navigation1 ul li { /**Properties of the horizontal navigation bar, particularly for the format of the listing**/
    display: inline-block;
    list-style: none;
    padding: 5px 50px;
}

#navigation1 ul li a{ /**Properties of the horizontal navigation bar, particularly for the format of the text within**/
    color: #f48c06;
    text-decoration:none;  
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
}
#navigation1 ul li:hover {  
/**Properties of the horizontal navigation bar, particularly for the background of a text within the list when a mouse pointer is above it**/
    background-color:#f562006c ;
}
              
#navigation1 ul li::after{  
/**Properties of the horizontal navigation bar, particularly for the underline that transitions when the mouse hovers above a navigation option**/
    content:'';
    width: 0%;
    height: 2px;
    background-color:#ffba08;
    margin: auto;
    display: block;
    transition: 0.5s;
}
              
#navigation1 ul li:hover::after{ /**Properties of the horizontal navigation bar, particularly the aftermath of the transition**/
    width: 50px;
}

/*Page Body*/
#content {  
    width: auto;
    background-color: #dc2f02;
    float: left;   
    margin: 0px;    
    display:block;
    position: relative;
    top: 10px;
}
/*class humanfactors is for the div box dedicated to the topics under Human Activities*/
.humanfactors h1{
    color:#ffba08;
    font-size: 5vw ;
    font-family: cursive;
    text-align: center;

    border: 2vh #f48c06 ridge;
    width: auto;
    margin-top: 9vh;
    padding: 15px; 
    position: relative;
    top: 20px;
}

.humanfactors h2{
    color: #ffba08;
    font-size: 4vh;
    font-family: cursive;
    text-align: center;

    border: 1vh #6a040f ridge;
    width: max-content;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
}

.humanfactors p{
    color:#6a040f;
    font-weight: bold;
    font-family: cursive;
    font-size: 3vh;
    text-align: justify;
    padding: 15px 25px;
}
/*class industrial_waste is for the div box dedicated to the discussion about Industrial Wastes, in relation to pollution*/
.industrial_waste{
    float: left;
}

.industrial_waste #img1{
    float: left;
    margin: 25px;
    height: 30vh;
    width:50vh;
}   

.industrial_waste #img2{
    float: right;
    margin: 25px;
    height: 30vh;
    width: 50vh;
}

.industrial_waste p{
    vertical-align: middle;
    font-size: 3vh;
}
/*class Overpopulation is for the div box dedicated to the discussion about how amount of human population contributes to climate change*/
.Overpopulation img{
    float: left;
    margin: 25px;
    height: 30vh;
    width: 50vh;
}

.Overpopulation{
    float: left;
    font-size: 4vh;
}


hr{ /**horizontal line to organize embedded video**/
    border: 5px double #6a040f;
    width: 50%;
    clear: both;
}
iframe{ /**embedded video**/
    white-space: nowrap;
    display: block;
    margin: 0 auto;
    height: 40vw;
    width: 60vw;
}
/*class other_terms is for the div box dedicated to the discussions about Global Warming and Greenhouse Effect*/
.other_terms h1{
    color:#ffba08 ;
    font-size: 4vw ;
    font-family: cursive;
    text-align: center;

    border: 2vh #f48c06 ridge;
    width: auto;;
    margin-top: 9vh;
    padding: 15px;
    white-space: nowrap;   
    clear: both;
}


.other_terms #GE{ /**specific to element used for the disccusion of Greenhouse Effect**/
    float: left;
    margin: 25px;
    height: 30vh;
    width:50vh;
    display: block;
}

.other_terms #GW{  /**specific to element used for the disccusion of Global Warming**/
    float: right;
    margin: 25px;
    height: 30vh;
    width:50vh;
    display: block;
}

/*class sidenav is for the div box dedicated to the appearing/disappering vertical navigation bar found on the right side of the page*/
.sidenav { 
  width:auto;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#03071e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a,p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #f48c06;
  font-family:cursive;
  font-weight: bolder;
  font-size: 20px;
  transition: 0.3s;
  display:block;
  text-align: center;
}

.sidenav a:hover {
/**Properties of the vertical navigation bar, particularly for the color of a text within the list when a mouse pointer is above it**/
    color:#f562006c;
}

.sidenav .closebtn { /**The "x" button to make the side navigation bar disappear**/
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a::after{ /**underline transition**/
    content:'';
    width: 0%;
    height: 2px;
    background-color:#ffba08;
    margin: auto;
    display: block;
    transition: 0.5s;
}
              
.sidenav a:hover::after{ /**underline transition**/
    width: 50px;
}


#navbutton{ /**Properties of the Side Navigation Bar Button**/
    color:rgba(250, 250, 250, 0.75);
    position:fixed;
    right: 9px;
    top:2px;  
    background-color:#03071e;   
    width: 30px;
}

/* The footer is fixed to the bottom of the page */
footer{
	position: relative;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #6a040f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed .footer-left h3{
	color:rgba(255, 186, 8, 0.75);
	font: bold 30px cursive;
	margin: 0;
    text-align: center;
}

/* Organizations' Image Links */
.footer-distributed img{    
    display: flex;
	width: 20%;
    float: left;
    margin: 7px 9px;
    clip-path: circle(50% at 50% 50%);}

/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center h3{
	color:rgba(255, 186, 8, 0.75);
	font: bold 30px cursive;
	margin: 0;
    text-align: center;
}


.footer-distributed .footer-center .footer-links a{
	color:#ffba08;
	font: bold 15px cursive;
	width: 10%;
	line-height: 42px;
	margin: 10px 15px;
    text-decoration: none;    
}


.footer-distributed .footer-center p{
	display: inline-block;
	color:rgba(255, 255,255, 0.25);
	font: bold 15px cursive;
	vertical-align: middle;
	margin:0;
}

/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-creator-about #info{
	display: block;
	color:rgba(255, 186, 8, 0.75);
	font: bold 30px cursive;
    margin-top: -25px;
}

.footer-right #name{
        color:#ffba08;
        font: bold 20px cursive;
        text-align: left;
}

.footer-right #school{
    color:#ffba08;
    font: italic bold 15px cursive;
    text-align: left;
}


.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons img{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor:context-menu;
	background-color:  #03071e;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;

	margin-right: 3px;
	margin-bottom: 5px;
}

/*Below is a code for a Responsive Footer **/

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
        margin-top: 20px;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}