body { /**Properties of the webpage's body**/
    width:auto;
    margin: auto;
    background-color: #dc2f02;
}

/*Page Title/Header*/
#header { /**Properties of the header, particularly for the background**/
    padding: 30px;
    height:40vh;
    background-image: linear-gradient(rgba(106, 4, 15, 0.5), rgba(3, 7, 30, 0.5)),url(../images/trees.jpg);
    background-size: 200vh;
    background-size:75vh;
    background-repeat: repeat-x;     
    background-attachment: fixed;  
    width:100%;
    position: relative;
  }

#header a img{ /**Properties of the header, particularly the Earth logo on the left**/
    box-sizing: border-box; 
    white-space: nowrap; 
    float:left;
    height: 30vh;
    width:auto;
}

#header h1{ /**Properties of the header, particularly for the title "Climate Change: Causes" **/
    color:#ffba08 ;
    font-family: cursive;
    font-size: 10vh;
    position: relative;
    float: left;
    left: 3vw;
    bottom: 2vw;
    width:auto;
    white-space: nowrap;  
}


/*Page Body*/
#content {  
    width: auto;
    background-color: #dc2f02;
    float: left;   
    margin: 0px;    
    display:block;
}

#motto{
    color:#6a040f;
    font: bolder italic  5vh Roboto;
    border: 1vh #ffba08 ridge;
    text-align: center;
    padding: 15px 25px;
    width: 80%;
    margin: 20px auto;
}
/*class intro and Contents is dedicated to the div box for the definition of Climate Change and the "dashboard"/menu*/
.intro h1, .Contents h1{
    color:#ffba08;
    font-size: 5vw ;
    font-family: cursive;
    text-align: center;

    border: 2vh #f48c06 ridge;
    width: auto;
    margin-top: 9vh;
    padding: 15px;
    white-space: nowrap;    
}


.intro{
  float: left;
  clear: left;
}

.intro p{
    color:#6a040f;
    font-weight: bold;
    font-family: cursive;
    font-size: 3vh;

    border: 1vh #ffba08 ridge;
    text-align: justify;
    padding: 15px 25px;
}

hr{
    border: 5px double #6a040f;
    width: 50%;
    clear: both;
}

iframe{ /**css code for embedded video**/
    white-space: nowrap;
    display: block;
    margin: 0 auto;
    height: 40vw;
    width: 60vw;
}

#dashboard{ /**term used for the menu to go to other webpages in the website**/
    position: relative;
    left: 10%;
  }
  
  /*class container is for the box of the individual images in the "dashboard"*/
  .container {
    position: relative;
    float: left;
    height: 50vh;
    width: 80vh;
    display: block;
    margin-bottom: 15 px;
  }
  
  .container2 {
    position: relative;
    float: left;
    height: 50vh;
    width: 80vh;
    display: block;
    
  }
  
  /*Fade Transition of the Menu*/
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .container2:hover .image {
    opacity: 0.3;
  }
  
  .container2:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgba(255, 186, 8, 0.75);
    width:fit-content;
    color: #6a040f;
    font-family: cursive;
    font-style: italic;
    font-size: 16px;
    padding: 16px 32px;
  }

h1.images_title{
    float: left;
    position: relative;
    left: 20%;

    color:#ffba08;
    font-size: 3vw ;
    font-family: cursive;
    text-align: center;

    border: 2vh #f48c06 ridge;
    width: auto;
    white-space: nowrap; 
    margin-top: 50px;

}
#images a img{
    float: left;
    clear: both;
    height: 30vw;
    width: 50vw;
    display: block;
    position: relative;
    margin-bottom: 5vh;
    left: 25%;
}
/*class sidenav is for the div box dedicated to the appearing/disappering vertical navigation bar found on the right side of the page*/
.sidenav {
  width:auto;
  height: 100%;
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  background-color:#03071e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #f48c06;
  font-family:cursive;
  font-weight: bolder;
  font-size: 20px;
  transition: 0.3s;
  display:block;
  text-align: center;
}

.sidenav a:hover {
/**Properties of the vertical navigation bar, particularly for the color of a text within the list when a mouse pointer is above it**/  
    color:#f562006c;
}

.sidenav .closebtn { /**The "x" button to make the side navigation bar disappear**/
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a::after{ /**underline transition**/
    content:'';
    width: 0%;
    height: 2px;
    background-color:#ffba08;
    margin: auto;
    display: block;
    transition: 0.5s;
}
              
.sidenav a:hover::after{ /**underline transition**/
    width: 50px;
}

#navbutton{ /**Properties of the Side Navigation Bar Button**/
    color:rgba(250, 250, 250, 0.75);
    position:fixed;
    right: 9px;
    top:2px;  
    background-color:#03071e;   
    width: 30px;
    z-index: 5;
}

/* The footer is fixed to the bottom of the page */

footer{
	position: relative;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #6a040f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed .footer-left h3{
	color:rgba(255, 186, 8, 0.75);
	font: bold 30px cursive;
	margin: 0;
    text-align: center;
}

/* Organizations' Links */

.footer-distributed img{    
    display: flex;
	width: 20%;
    float: left;
    margin: 7px 9px;
    clip-path: circle(50% at 50% 50%);}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center h3{
	color:rgba(255, 186, 8, 0.75);
	font: bold 30px cursive;
	margin: 0;
  text-align: center;
}


.footer-distributed .footer-center .footer-links a{
	color:#ffba08;
	font: bold 15px cursive;
	width: 10%;
	line-height: 42px;
	margin: 10px 15px;
  text-decoration: none;    
}


.footer-distributed .footer-center p{
	display: inline-block;
	color:rgba(255, 255,255, 0.25);
	font: bold 15px cursive;
	vertical-align: middle;
	margin:0;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-creator-about #info{
	display: block;
	color:rgba(255, 186, 8, 0.75);
	font: bold 30px cursive;
	margin-bottom: 20px;
  position: relative;
  bottom: 15px;
}

.footer-right #name{
        color:#ffba08;
        font: bold 20px cursive;
}

.footer-right #school{
    color:#ffba08;
    font: italic bold 15px cursive;
}


.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons img{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor:crosshair;
	background-color:  #03071e;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-icons p{
    color:#ffba08;
	font: italic bold 15px cursive;
}

/*Responsive Footer **/

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
        margin-top: 20px;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}