body { /**Properties of the webpage's body**/
    width:auto;
    margin: auto;
    background-color: #dc2f02;
}

#header { /**Properties of the header, particularly for the background**/
    padding: 30px;
    height:40vh;
    background-image: linear-gradient(rgba(106, 4, 15, 0.5), rgba(3, 7, 30, 0.5)),url(../images/trees.jpg);
    background-size: 200vh;
    background-size:73vh;
    background-repeat: repeat-x;     
    background-attachment: fixed;  
    width:100%;
    position: relative;
}

#header a img{ /**Properties of the header, particularly the Earth logo on the left**/
    box-sizing: border-box; 
    white-space: nowrap; 
    position: relative;
    float:left;
    height: 200px;
    width:auto;
}

#header h1{ /**Properties of the header, particularly for the title "Climate Change: Causes" **/
    color:#ffba08 ;
    font-family: cursive;
    font-size: 85px;
    position: relative;
    left: 10px;
    top: -80px;
    width:auto;
    white-space: nowrap;
}

#navigation1 { /**Properties of the horizontal navigation bar, particularly for the entire box**/
    float:left;
    height: 9h;
    width:198vh;
    white-space: nowrap;
    position: relative;
    left: 60px;
    top: -80px;
    width:auto;

}

#navigation1 ul li { /**Properties of the horizontal navigation bar, particularly for the format of the listing**/
    display: inline-block;
    list-style: none;
    padding: 5px 50px;
}

#navigation1 ul li a{ /**Properties of the horizontal navigation bar, particularly for the format of the text within**/
    color: #f48c06;
    text-decoration:none;  
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
}
#navigation1 ul li:hover {  
/**Properties of the horizontal navigation bar, particularly for the background of a text within the list when a mouse pointer is above it**/
    background-color:#f562006c ;
}
              
#navigation1 ul li::after{  
/**Properties of the horizontal navigation bar, particularly for the underline that transitions when the mouse hovers above a navigation option**/
    content:'';
    width: 0%;
    height: 2px;
    background-color:#ffba08;
    margin: auto;
    display: block;
    transition: 0.5s;
}
              
#navigation1 ul li:hover::after{ /**Properties of the horizontal navigation bar, particularly the aftermath of the transition**/
    width: 50px;
}

#warning{
    color:#ffba08 ;
    font-family: cursive;
    font-size: 85px;
    text-align: center;

    border:5px #03071e double;
    width: auto;
    margin: 35px;
}

/* The footer is fixed to the bottom of the page */

footer{
	position: relative;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #6a040f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed .footer-left h3{
	color:rgba(255, 186, 8, 0.75);
	font: bold 30px cursive;
	margin: 0;
    text-align: center;
}

/* Organizations' Links */

.footer-distributed img{    
    display: flex;
	width: 20%;
    float: left;
    margin: 7px 9px;
    clip-path: circle(50% at 50% 50%);}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center h3{
	color:rgba(255, 186, 8, 0.75);
	font: bold 30px cursive;
	margin: 0;
  text-align: center;
}


.footer-distributed .footer-center .footer-links a{
	color:#ffba08;
	font: bold 15px cursive;
	width: 10%;
	line-height: 42px;
	margin: 10px 15px;
  text-decoration: none;    
}


.footer-distributed .footer-center p{
	display: inline-block;
	color:rgba(255, 255,255, 0.25);
	font: bold 15px cursive;
	vertical-align: middle;
	margin:0;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-creator-about #info{
	display: block;
	color:rgba(255, 186, 8, 0.75);
	font: bold 30px cursive;
	margin-bottom: 20px;
}

.footer-right #name{
        color:#ffba08;
        font: bold 20px cursive;
}

.footer-right #school{
    color:#ffba08;
    font: italic bold 15px cursive;
}


.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons img{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor:crosshair;
	background-color:  #03071e;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-icons p{
    color:#ffba08;
	font: italic bold 15px cursive;
}

/*Responsive Footer **/

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
        margin-top: 20px;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}