@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,500&family=Pushster&family=The+Nautigal:wght@700&display=swap');            
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,500&family=Pushster&family=Teko:wght@500&family=The+Nautigal:wght@700&display=swap');
body{
    background-color: rgb(7, 11, 52);
}
#audio{
    margin-bottom: 5px; 
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Pushster', cursive;
    font-size: 45px;
    color:powderblue;
}

div{
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: 25px;
    font-family: 'Teko', sans-serif;
    color: wheat;
    padding: 15px;
}

p{
    font-family: 'Teko', sans-serif;
    font-size: 27px;
    color: #bea9de;
}

.echoes, .remember{
    text-align: center;
    font-style: italic;
}

.margin{
    font-size: 30px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.last{
    text-align: center;
    border: 5px #8CBDD6 ridge;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

a{
    font-size: 35px;
    color:mintcream;;
    background-color: peru;
    font-family: impact;
    border: 5px blanchedalmond double;
    padding: 5px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

a:hover{
    font-size: 35px;
    color:mintcream;;
    background-color: mintcream;
    font-family: impact;
    border: 5px black double;
    padding: 5px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.playlist{
    text-align: center;
    border: 5px #8CBDD6 ridge;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

footer{
    text-align: center;
}

.caption{
    text-align: center;
    width: 750px;
    font-family: impact;
    border: 5px blanchedalmond double;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    font-size: 25px;
}